.month{
    border: 2px solid black;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(58, 106, 153, 0.7);
    width: 300px;
    text-align: center;
    color: white;
    display: flex;
  align-items: center;
  justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
